torch
torchaudio
sounddevice
soundfile
pysilero
numpy==1.25.1
scipy
pygame
requests
flet[all]==0.27.6
jionlp
ruamel.yaml
modelscope
faiss-cpu
funasr
scipy
addict
datasets<3
simplejson
transformers
shortuuid